body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

a{
    text-decoration: none;
    color: black;
}

.hero {
    background-image: url('./background.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

    @media (max-width:700px) {
        height:fit-content;
    }
}

.toppart {
    background-color: rgba(255, 255, 255, 0.158);
}

.toppart h3 {
    font-size: 26px;
    color:rgb(109, 223, 109);
    text-align: center;
    padding: 5px 0px;
    font-weight: 600;

    @media (max-width:1000px) {
        font-size: 20px;
    }


    @media (max-width:700px) {
        display: none;
    }



}


.bottompart {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    margin: auto;


    @media (max-width:1000px) {
        width: 100%;
    }

    @media (max-width:700px) {
        display: none;
    }
}

.bottompart h3 {
    color: white;
    font-size: 30px;
    font-weight: normal;

    @media (max-width:1000px) {
        font-size: 25px;
    }

    @media (max-width:700px) {
        display: none;
    }


}

.bottompart .icons {
    display: flex;
    column-gap: 20px;
}

.bottompart .icons img {
    width: 27px;
}

.mobilenav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 20px;

    @media (min-width:700px) {
        display: none;

    }
}

.herocontent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: white;

    @media (max-width:700px) {
        height: 100%;
    }


}

.herocontent h1 {
    font-size: 100px;
    font-weight: normal;
    padding-bottom: 30px;

    @media (max-width:700px) {
        font-size: 50px;
        text-align: center;
        margin-top: 30px;
    }
}

@media (max-width:700px) {
    .herocontent h1{
        font-size: 60px !important;
        font-weight: 600;
    }
}

.herocontent h2 {
    font-size: 50px;
    font-weight: normal;
    padding-bottom: 10px;

    @media (max-width:700px) {
        font-size: 25px;
    }


}

.herocontent h3 {
    font-size: 21px;
    font-weight: normal;
    width: 80%;
    text-align: justify;
    margin-bottom: 30px;


    @media (max-width:700px) {
        font-size: 15px;
    }
}

.features {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin: 60px auto;
    column-gap: 20px;

    @media (max-width:900px) {
        /* flex-direction: column; */
    }


}


.features div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 14px 1px;
    width: 230px;
   

    @media (max-width:900px) {
        margin-bottom: 20px;
        justify-content: space-around;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        flex-direction: column;
        height: 130px;
        align-items: center;

    }
}

.features div p {
    font-weight: 600;

    @media (max-width:700px) {
        font-size: 14px;
        text-align: center;
    }
}

.features div:nth-child(2) img {
    width: 23px;
}

.cards-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
   

    @media (max-width:700px) {
        justify-content: center;
    }
}

.card {
    width: 350px;
    background-color: rgba(202, 224, 230, 0.461);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-bottom: 15px;
    margin-bottom: 90px;
    border-radius: 7px;
    padding-top: 20px;
    position: relative;
  

}


.card:nth-child(2) .cardimage .plantimage{
    object-fit: contain;
}



.cardimage {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: -50px;
    
}



.plantimage {
    width: 300px;
    height: 340px;

    @media (max-width:600px) {
        width: 259px;
        height: 291px;
    }
}

.planttitle {
    font-weight: bold;
    font-size: 23px;
    margin-top: 272px;

    @media (max-width:600px) {
        font-size: 20px;
        margin-top: 240px;
    }
}

.plantdesc {
    color: rgba(128, 128, 128, 0.614);
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    margin-bottom: 20px;

    @media (max-width:600px) {
        font-size: 15px;
    }

}

.pricecont {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.greendiv {
    color: white;
    background-color: rgba(20, 113, 20, 0.632);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) -1px 16px 14px 1px;

}

.greendiv p {
    @media (max-width:600px) {
        font-size: 14px;
    }
}

.heartcont {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) -1px 16px 14px 1px;

    @media (max-width:600px) {
        padding: 5px;
    }

}

.heartcont img {
    width: 15px;

    @media (max-width:600px) {
        width: 12px;
    }
}

.featured {
    display: flex;
    width: 50%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width:1000px) {
        width: 80%;
    }

    @media (max-width:900px) {
        flex-direction: column;
        row-gap: 30px;
    }


}

.idealplant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgba(20, 113, 20, 0.632);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) -1px 16px 14px 1px;



}



.idealplant img {
    width: 20px;
    height: 15px;
}

.idealplant {
    color: white;
    background-color: rgba(20, 113, 20, 0.632);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) -1px 16px 14px 1px;

    column-gap: 10px;
    padding: 10px 30px;

}

.mostpopular {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    padding: 10px 30px;
}

.mostpopular img {
    width: 20px;
    height: 20px;
}

.mostpopular p {
    font-weight: bold;
}

.babyplants {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;

    @media (max-width:900px) {
        flex-direction: column;
        row-gap: 40px;
    }

}

.babyplants div {
    width: 40%;

    @media (max-width:900px) {
        width: 100%;
    }
}

.babyplants div img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

.babyplants div p {
    font-weight: bold;
    font-size: 20px;

}

.greenlandinsta {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;


}

.tagdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
    background-color: rgb(185 218 212 / 59%);
    padding: 7px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 72%;

    @media (max-width:900px) {
        display: none;
    }

}

.tagdiv p {
    font-weight: bold;
    font-size: 20px;
}

.instaimages {
    background-color: rgb(185 218 212 / 59%);
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 30px;
}

.instaimages img {
    width: 300px;
    height: 250px;
    margin-bottom: 60px;
    object-fit: contain;
}

.followus {
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: auto;
    margin-top: 30px;
   

}

.followus h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 13px;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    column-gap: 20px;
}

.icons img{
    width: 20px;
}

.icons img {
    @media (max-width:700px) {
        width: 20px;
    }
}

@media (max-width:700px) {
    .icons{
        margin-bottom: 0px;
    }
}

.footer {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(185 218 212 / 59%);
    padding: 2%;
    box-sizing: border-box;
    align-items: flex-start;
    padding-top: 60px;

    @media (max-width:800px) {
        flex-direction: column;
        align-items: baseline;
        padding-left: 50px;
        row-gap: 50px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

}

.footer p{
    font-size: 14px;
    color: #5b6361c7;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: monospace;
}

.greenland {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    row-gap: 20px;

}

.contact p , .links p{
    font-weight: 500;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.575);

    @media (max-width:700px) {
        font-size: 13px;
        font-weight: 600;
    }
}

.contact{
    justify-content: left !important;
}


.greenland p {
    letter-spacing: 0.5px;
    color: #1b3557;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
}

.greenland img {
    width: 150px;
    margin-bottom: -10px;
}

.footer a{
    text-decoration: none;
    color: #ce0505;
}

.footer{
    padding-top: 50px;
}

.alloffers{
    height: 143px;
    background: #fff6f4;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 38px;
    margin-bottom: 63px;
}

.alloffers button{
    background: #149253;
    color: white;
    padding: 10px 27px;
    font-size: 14px;
    border-radius: 6px;
    outline: none;
    letter-spacing: 1px;
    border: none;
}

.alloffers p{
    font-size: 21px;
    font-weight: 500;
    text-align: center;
   
}

.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    width: 100%;
}

.aboutus h3{
    width: 50%;
   
}

.aboutus h2{
    font-weight: 00;
}
@media (max-width:600px) {

    .greenland img{
        width: 120px;
    }

    .greenland p{
        font-size: 13px;
    }

    .alloffers{
        column-gap: 12px;
    }
    .alloffers p{
        font-size: 13px;
        text-align: left;
        width: 50%;

       
    }

    @media (max-width:500px) {
        .second{
            margin-top: 10px;
            margin-left: 44px;
        }
    }

    .alloffers button{
        padding: 8px 6px;
        font-size: 11px;
    }

    .aboutus{
        flex-direction: column;
    }

    .aboutus h2{
        font-weight: 700;
    }

    .aboutus h3{
        width: 80%;
    }
}

@media (max-width:940px) {
    .herocontent h1{
        font-size: 80px;
    }
}


.allfeatures{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    flex-wrap: wrap;
    height: fit-content;
  

}


.allfeatures .eachitem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
   
    

}



.allfeatures .eachitem div{
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid gray;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.allfeatures .eachitem div img{
    width: 100px;
}

@media (max-width:660px) {
    .eachitem{
        scale: 0.6;
    }

    .allfeatures{
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        width:90%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 200px;
        overflow-y: hidden;
        align-items: center;
        margin: auto;
        margin-bottom: 50px;
        margin-top: -40px;
    }

 

    .allfeatures .eachitem p{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    
    .allfeatures .eachitem{
        row-gap: 20px;
    }

   
}



.servicecont {
    width: 100%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

    margin-bottom: 50px;
    flex-wrap: wrap;
    row-gap: 40px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;



}

.service {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 15px;
   
}

.whitediv {
    padding: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.servicecont img{
    width: 226px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 282px;

}

.service p:nth-child(2) {
    color: black;
    font-weight: 500;
}

.whitediv img {
    width: 90px;
    height: 90px;
}

.servicetitle h2{
    text-align: left;
    width: 83%;
    margin: auto;
    font-size: 29px;

}

@media (max-width:700px) {
    .servicecont {
        flex-direction: column;
        row-gap: 40px;
    }

    .servicetitle h2 {
        font-size: 25px;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        text-align: center;
       

    }

    .servicetitle h2{
        font-size: 25px !important;
    }
}
